html, body {
    position: relative;
    height:100%;
    margin:0;
    padding:0;
}

.bg-img {
    position: relative;
    height:100%;
    background-image: url("good_design.jpg");
    background-size: cover;
    opacity: 0.2;
    z-index: 1;
}

.text-container {
    position: absolute;
    width: 35%;
    top: 30%;
    left: 5%;
    z-index: 2;
    font-family: "Slabo";
}

.headline {
    font-size: 48px;
}

.body-copy {
    padding-top: 5%;
    font-size: 18px;
}

.signup-form {
    position: absolute;
    padding-top: 5%;
    z-index: 3;
}

.email-input {
    font-size: 16px;
    padding: 12px;
    padding-right: 96px;
}

.submit-button {
    background-color: #0099CC;
    border: none;
    color: white;
    padding: 12px 18px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
}
